doctype html
html
  head
    title Kakao
  body(style='height:100%;')
    div(style='min-height:100%;')
      iframe(style='overflow: hidden; height: 100%; width: 100%; position: absolute;', scrolling='no', frameborder='no', src='https://www.kakaocorp.com/page/service/service/KakaoTalk?lang=KOR')
